app = "pa-scheduler"
primary_region = "ewr"

[build]
  dockerfile = "Dockerfile.prod"

[env]
  PORT = "8000"
  DJANGO_SETTINGS_MODULE = "config.production_settings"
  PYTHONUNBUFFERED = "1"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [[http_service.checks]]
    grace_period = "30s"
    interval = "15s"
    method = "GET"
    timeout = "10s"
    path = "/api/auth/users/"
    protocol = "http"

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1

[mounts]
  source = "pa_scheduler_data"
  destination = "/data"